.form-control {
  display: block;
  width: 97%;
  margin-right: 3%;
  border: none;
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 0 5px;
}

.form-inline {
  display: inline-block;
  border: none;
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 0 5px;
}

@media screen and (max-width: 768px) {
  form input,
  form button[type='submit'],
  form select {
    height: 32px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

@media screen and (min-width: 768px) {
  form input,
  form button[type='submit'],
  form select {
    height: 32px !important;
  }
}
