.no-margin {
  margin: 0px !important;
}

.add-margin {
  margin: 15px !important;
}

.rlm {
  margin-left: 0px !important;
}

.rrm {
  margin-right: 0px !important;
}

.rtm {
  margin-top: 0px !important;
}

.rbm {
  margin-bottom: 0px !important;
}

.alm {
  margin-left: 15px !important;
}

.arm {
  margin-right: 15px !important;
}

.atm {
  margin-top: 15px !important;
}

.abm {
  margin-bottom: 15px !important;
}
