.no-padding {
  padding: 0px !important;
}

.add-padding {
  padding: 15px !important;
}

.rlp {
  padding-left: 0px !important;
}

.rrp {
  padding-right: 0px !important;
}

.rtp {
  padding-top: 0px !important;
}

.rbp {
  padding-bottom: 0px !important;
}

.alp {
  padding-left: 15px !important;
}

.arp {
  padding-right: 15px !important;
}

.atp {
  padding-top: 15px !important;
}

.abp {
  padding-bottom: 15px !important;
}
